@model TruckRecoveryWebApplication.Models.Order

@{
    ViewData["Title"] = "Изменение заказа";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Изменение заказа</h1>

<h4>Если вы не администратор, пожалуйста покиньте эту страницу.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClientId" class="control-label"></label>
                <select asp-for="ClientId" class="form-control" asp-items="ViewBag.ClientId"></select>
                <span asp-validation-for="ClientId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderNumber" class="control-label"></label>
                <input asp-for="OrderNumber" class="form-control" />
                <span asp-validation-for="OrderNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusId" class="control-label"></label>
                <select asp-for="StatusId" class="form-control" asp-items="ViewBag.StatusId"></select>
                <span asp-validation-for="StatusId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TruckList" class="control-label"></label>
                <input asp-for="TruckList" class="form-control" />
                <span asp-validation-for="TruckList" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticsDate" class="control-label"></label>
                <input asp-for="DiagnosticsDate" class="form-control" />
                <span asp-validation-for="DiagnosticsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiagnosticReport" class="control-label"></label>
                <input asp-for="DiagnosticReport" class="form-control" />
                <span asp-validation-for="DiagnosticReport" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountedPrice" class="control-label"></label>
                <input asp-for="DiscountedPrice" class="form-control" />
                <span asp-validation-for="DiscountedPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryPartsDate" class="control-label"></label>
                <input asp-for="DeliveryPartsDate" class="form-control" />
                <span asp-validation-for="DeliveryPartsDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CloseDate" class="control-label"></label>
                <input asp-for="CloseDate" class="form-control" />
                <span asp-validation-for="CloseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsClosed" /> @Html.DisplayNameFor(model => model.IsClosed)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад</a>
</div>

