* {
    padding: 0;
    margin: 0;
}

.unOrder {
    min-width: 300px;
}

.ulProgress li {
    padding-left: 24px;
    /* Смещаем текст вправо */
    margin-bottom: 30px;
    position: relative;
}

.ulProgress {
    list-style: none;
    margin: 30px;
}

/* отрисовка линий между маркерами */
.progressLi1::after,
.progressLi2::after,
.progressLi3::after,
.progressLi4::after,
.progressLi5::after {
    content: '';
    position: absolute;
    left: 7px;
    width: 2px;
    height: 14px;
    top: 19px;
    background: #4BAE4F;
}

.progressLi2::before,
.progressLi3::before,
.progressLi4::before,
.progressLi5::before,
.progressLi6::before {
    content: '';
    position: absolute;
    left: 7px;
    width: 2px;
    height: 14px;
    top: -15px;
    background: #4BAE4F;
}

/* стилизация картинок грузовиков */
.startImg,
.finishImg {
    width: 100px;
    margin-left: 30px;
}

/* окраска элементов */
.makeColorLineForActiveElements::before,
.makeColorLineForActiveElements::after {
    background: #4D4D4D;
}