@model TruckRecoveryWebApplication.Models.SystemUser

@{
    ViewData["Title"] = "Вход";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<h1>Вход для клиентов</h1>
@if (ViewBag.Err != null)
{
    <h1>@ViewBag.Err</h1>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-controller="DearClients">
            <input hidden asp-for="ReturnUrl" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Номер телефона</label>
                <input class="form-control" asp-for="Login" />
            </div>
            <div class="form-group">
                <label class="control-label">Номер договора(подойдет номер любого договора с нами)</label>
                <input asp-for="Password" class="form-control" name="password" />
            </div>
            <div class="form-group">
                <input type="submit" value="Войти" class="btn btn-primary" />
            </div>
        </form>
        <a asp-action="Login" asp-controller="SystemUsers" >Вход для сотрудников</a>
    </div>
</div>